This project is to analyze real estate sales from the Real Estate Sales from 10/01/2020 to currently. The dataset is provided by the City of Hartford Assessor's Office.

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
#Read the CSV file
df = pd.read_csv("Real_Estate_Sales_10012020_to_Current.csv")

#Print the few lines of the csv
print(df.head())

   OBJECTID  PropertyID  xrCompositeLandUseID  xrBuildingTypeID     ParcelID  \
0         1           8                     3               6.0  121-698-063
1         2           9                     3               3.0  121-698-062
2         3          12                     3               6.0  144-698-066
3         4          20                     3               6.0  144-698-058
4         5          25                     3               6.0  144-698-053

   LocationStartNumber ApartmentUnitNumber StreetNameAndWay  \
0                   77                 NaN      STAFFORD ST
1                   73                 NaN      STAFFORD ST
2                   61                 NaN      STAFFORD ST
3                   29                 NaN      STAFFORD ST
4                  211                 NaN    NEWINGTON AVE

   xrPrimaryNeighborhoodID  LandSF  ...  OwnerFirstName       PrimaryGrantor  \
0                        2  6000.0  ...         LAKESHA      SCOTT NASTASSIA
1                        2  6000.0  ...         ARCADIO          DIAZ RAFAEL
2                        2  6000.0  ...         CATIRIA          KERN THOMAS
3                        2  6000.0  ...          REBECA      RAMOS MIGUEL JR
4                        2  5040.0  ...         LOURDES  BAIJANATH BISSNOW P

                 SaleDate SalePrice TotalAppraisedValue LegalReference  \
0  2024/07/01 00:00:00+00  259000.0              187200     08275 0343
1  2022/04/26 00:00:00+00  208000.0              192300     07948-0001
2  2023/12/22 00:00:00+00  125000.0              148400     08197-0077
3  2023/09/29 00:00:00+00       1.0              167300     08158 0179
4  2021/01/11 00:00:00+00  177000.0              197900     07701-0245

   xrSalesValidityID  xrDeedID AssrLandUse  \
0                  1        10  ONE FAMILY
1                  1        10  ONE FAMILY
2                  1        10  ONE FAMILY
3                  5         8  ONE FAMILY
4                  1        10  ONE FAMILY

                                 GlobalID
0  {78B6AAB5-D21E-471C-85BE-022DAB2A80B7}
1  {15F34650-E463-4047-8808-A056FCDA3E09}
2  {C6FCA409-022A-4F1B-A674-13996FD1FE86}
3  {4D1DDED3-EF58-4091-A5F1-C7CA38B38C74}
4  {F2E9A7CC-96D2-47AE-A2C1-59745FBE9C9E}

[5 rows x 23 columns]

In [4]:
#Print the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7410 entries, 0 to 7409
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   OBJECTID                 7410 non-null   int64
 1   PropertyID               7410 non-null   int64
 2   xrCompositeLandUseID     7410 non-null   int64
 3   xrBuildingTypeID         7409 non-null   float64
 4   ParcelID                 7410 non-null   object
 5   LocationStartNumber      7410 non-null   int64
 6   ApartmentUnitNumber      1938 non-null   object
 7   StreetNameAndWay         7410 non-null   object
 8   xrPrimaryNeighborhoodID  7410 non-null   int64
 9   LandSF                   5479 non-null   float64
 10  TotalFinishedArea        7237 non-null   float64
 11  LivingUnits              7409 non-null   float64
 12  OwnerLastName            7410 non-null   object
 13  OwnerFirstName           4515 non-null   object
 14  PrimaryGrantor           7409 non-null   object
 15  SaleDate                 7410 non-null   object
 16  SalePrice                7071 non-null   float64
 17  TotalAppraisedValue      7410 non-null   int64
 18  LegalReference           7409 non-null   object
 19  xrSalesValidityID        7410 non-null   int64
 20  xrDeedID                 7410 non-null   int64
 21  AssrLandUse              7410 non-null   object
 22  GlobalID                 7410 non-null   object
dtypes: float64(5), int64(8), object(10)
memory usage: 1.3+ MB